:root {
  --primary-color: #329296;
  --secondary-color: #96d4da;
  --accent-color: #b9c7c8;
  --dark-color: #324b4c;
  --top-bar-height: 50px;
}

@font-face {
  font-family: "SF";
  src: url("fonts/SFPRODISPLAYREGULAR.OTF");
}

@font-face {
  font-family: "SF-BOLD";
  src: url("fonts/SFPRODISPLAYBOLD.OTF");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SF", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  background-color: #080808;
  color: #fff;
  overflow-x: hidden;
  height: 100%;
}

section {
  display: flex;
}

/* General Styles */
.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  padding: 40px 40px;
}

h1 {
  font-size: 4em;
  font-family: 'SF-BOLD';
  margin-bottom: 20px;
}

h2 {
  font-size: 3.2em;
  font-family: 'SF-BOLD';

}

h3 {
  margin: 10px 0;
  font-size: 2em;
}

p {
  font-size: 1.2em;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.7em 1.5em;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.btn-primary:hover {
  background-color: var(--dark-color);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

#soundToggle {
  position: absolute;
  bottom: 20px;
  right: 40px;
  z-index: 5;
  background-color: rgba(80, 80, 80, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.8);
  /* Initial border color */
  border-radius: 10px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  animation: bounce 2s ease-in-out infinite;
}

#soundToggle img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Header Styles */
#landing {
  flex-direction: column;
  height: auto;
  align-items: center;
  background-size: cover;
}

#landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

#landing .btn-primary {
  font-size: 1.2em;
}

.landing-text {
  margin: 0;
  position: relative;
  z-index: 2;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
  width: 60%;
}

.landing-text h1 {
  margin-bottom: 1em;
}

.subheader {
  font-family: "SF-BOLD";
  font-size: x-large;
  margin-bottom: 1em;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease 0.1s, transform 1s ease 0.1s;
  letter-spacing: 0.4em;
  color: var(--secondary-color);
}

/* Visible state for landing text */
.landing-text.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Slide-in effect for subheader */
.subheader.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Mission Statement Section Styles */
#mission-statement {
  flex-direction: row;
  height: fit-content;
  position: relative;
  background-color: var(--dark-color);
  padding: 40px 0px;
}

#mission-statement::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,
      0,
      0,
      0.5);
  mix-blend-mode: multiply;
  z-index: 0;
}

#mission-statement>* {
  position: relative;
  z-index: 1;
}

#mission-statement .container {
  width: 100%;
  flex-direction: row;
  height: fit-content;
  gap: 50px;
}

.mission-statement-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 0 40px;
  text-align: left;
}

.mission-statement-content-typewriter {
  display: inline-block;
  width: fit-content;
}

.vertical-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.grid-item {
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: column;
  padding: 30px;
  text-align: left;
  color: #fff;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform: translateX(-100px);
  opacity: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.grid-item .text-content {
  display: flex;
  flex-direction: column;
}

.grid-item h3 {
  margin-bottom: 10px;
}

.grid-item .solution {
  color: var(--secondary-color);
}

.grid-item p {
  margin: 5px 0 0;
  line-height: 1.4;
}

.grid-item.fadeInRight {
  animation: fadeInRight 1.5s ease-in-out forwards;
}

/* Animation delays for each grid item */
.grid-item:nth-child(1) {
  animation-delay: 0s;
}

.grid-item:nth-child(2) {
  animation-delay: 0.2s;
}

.grid-item:nth-child(3) {
  animation-delay: 0.4s;
}

.grid-item:nth-child(4) {
  animation-delay: 0.6s;
}

/* Data Section */
#data {
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 5em 0px;
  height: 100%;
}

#data .container {
  flex-direction: row;
  align-items: flex-end;
  align-items: center;
  height: fit-content;
  gap: 40px;
}

.data-content {
  width: 50%;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
  text-align: right;
}

.data-content.visible {
  opacity: 1;
  transform: translateY(0);
}

.highlight {
  color: var(--primary-color);
}

.image-counters {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.image-counters p {
  color: #aaa;
  margin-top: 10px;
}

.image-container {
  text-align: center;
  margin-top: 50px;
}

.placeholder-img {
  width: auto;
  height: 100px;
  object-fit: cover;
}

.counter {
  margin-top: 40px;
  font-size: 3em;
  color: #fff;
  font-weight: bold;
}

/* Team Section Styles */
#team {
  color: #fff;
  height: auto;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: url("assets/blob-haikei.svg") no-repeat center center;
  background-size: cover;
}

#team::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

#team .container {
  position: relative;
  z-index: 2;
  justify-content: flex-start;
  text-align: center;
  height: auto;
}

.team-content {
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
  padding: 40px 0;
}

.team-content.visible {
  opacity: 1;
  transform: translateY(0);
}


.arrow-down {
  margin: 50px 0 50px 0;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 35px solid var(--primary-color);
  animation: blink 1s infinite;
  align-self: center;
}



.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: stretch;
  align-items: stretch;
  height: auto;
}

/* Team Member Styling */
.team-member {
  opacity: 0;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: auto;
}

.team-member.fadeInUp {
  animation: fadeInUp 1s ease-in-out forwards;
}

.team-member img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.team-info {
  padding: 10px 15px;
}

.team-info h3 {
  margin: 10px 0;
  font-size: 1.5em;
  color: var(--secondary-color);
  font-weight: 600;
}

.team-info p.position-title {
  margin-bottom: 10px;
  font-size: 1.1em;
  font-weight: bold;
  color: #cec9c9;
}

.team-info p.introduction {
  margin: 10px 0;
  font-size: 1em;
  color: #fff;
  line-height: 1.6;
}

/* Hover effect for team members */
.team-member:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.3);
}

/* Animation delays for each team member */
.team-member:nth-child(1) {
  animation-delay: 0s;
}

.team-member:nth-child(2) {
  animation-delay: 0.2s;
}

.team-member:nth-child(3) {
  animation-delay: 0.4s;
}

.team-member:nth-child(4) {
  animation-delay: 0.6s;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  padding: 20px 40px 0 40px;
}

.footer-wrapper {
  color: #aaa;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  gap: 40px;
}

.sponsors {
  display: flex;
  align-items: center;
}

.sponsors-logos {
  width: fit-content;
}

.sponsors-logos img {
  width: 100px;
  aspect-ratio: 3/2;
  object-fit: contain;
  filter: grayscale(0.5);
}

footer .btn-primary {
  margin-left: auto;
}

p.copyright {
  display: flex;
  font-size: 0.8em;
  color: #aaa;
  padding: 0 0 10px 0;
  margin-top: 10px;
}

/* Top Bar Styles */
.top-bar {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px;
  z-index: 1000;
}

.top-bar .btn-primary {
  background-color: #111;
}

.logo img {
  display: flex;
  height: 40px;
}

.nav-links {
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* Navbar buttons */
.nav-btn {
  color: #aaa;
  text-decoration: none;
  font-size: 1em;
  padding: 10px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-btn:hover {
  background-color: #313131;
}

/* Scroll Indicator Styles */
#scroll-indicator {
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 1000;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #888;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: var(--secondary-color);
}

/* Animations */
.animate-grid-item {
  opacity: 0;
  /* Initially hide the items */
}

.fadeInUp {
  animation: fadeInUp 1.5s ease-in-out forwards;
}

.typewriter {
  display: inline-block;
  color: var(--secondary-color);
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid var(--primary-color);
  animation: typewriter 1.5s steps(30, end) forwards,
    blinkCursor 0.75s step-end infinite;
  width: 0;
  animation-fill-mode: forwards;
}

/* contact.html */
#request-a-meeting {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 100vh;
}

#request-a-meeting::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

#request-a-meeting .container {
  background-color: rgba(0, 0, 0, 0.8);
  width: 25%;
  height: 80%;
  border-radius: 3em;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
}

/* Form Styling */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 20px 0;
}

form input,
form textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1.2em;
  border: 1px solid var(--dark-color);
  border-radius: 10px;
  background-color: #111;
  color: #fff;
  font-size: 1rem;
  font-family: "SF";
  outline: none;
  transition: border-color 0.3s ease;
}

form input:focus,
form textarea:focus {
  border-color: var(--primary-color);
}

form label {
  font-size: 1rem;
  color: var(--accent-color);
  align-self: flex-start;
  margin-bottom: 5px;
}

form textarea {
  resize: none;
  height: 150px;
}

#request-a-meeting p {
  font-size: 0.8em;
  text-align: center;
  color: #aaa;
}

/* Keyframes */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blinkCursor {
  0% {
    border-right: 2px solid transparent;
  }

  50% {
    border-right: 2px solid var(--primary-color);
  }

  100% {
    border-right: 2px solid transparent;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

/* Media queries */
/* Tablets and half browser */
@media (max-width: 1350px) {
  .top-bar .nav-btn {
    display: none;
  }
  #soundToggle {
    display: none;
  }

  #scroll-indicator {
    display: none;
  }

  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2.2em;
  }

  p {
    font-size: 1.5em;
  }

  .container {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 40px 40px;
  }

  .landing-text {
    width: 100%;
  }

  #mission-statement {
    padding: 40px
  }

  #mission-statement .container {
    flex-direction: column;
    gap: 0;
    height: auto;
  }

  .mission-statement-content {
    padding: 20px 0;
    width: 100%;
    text-align: left;
  }

  .mission-statement-content-typewriter {
    width: fit-content;
  }

  .vertical-grid {
    margin: 20px 0;
    width: 100%;
    gap: 20px;
  }

  #data .container {
    flex-direction: column;
    gap: 0px;
  }

  .data-content {
    width: 80%;
    text-align: center;
    align-items: flex-start;
    order: 1;
  }

  .image-counters {
    order: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
  }

  .placeholder-img {
    width: auto;
    height: 80px;
    object-fit: cover;
  }

  .team-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .team-member img {
    max-width: 120px;
  }

  .team-info h3 {
    font-size: 2em;
  }

  .team-info p.position-title {
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #cec9c9;
  }

  .team-info p.introduction {
    font-size: 1.5em;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-wrapper {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .sponsors {
    flex-direction: column;
  }

  footer .btn-primary {
    margin: 0 0 10px 0;
  }
  #request-a-meeting {
    height: 100vh;
  }
  #request-a-meeting .container {
    width: 90%;
    height: 90%;
    padding: 40px 40px;
  }
  form label {
    margin-bottom: 0;
  }
  #request-a-meeting p {
    font-size: 1.2em;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .top-bar .nav-btn {
    display: none;
  }

  .top-bar .btn-primary {
    display: none;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.5em;
    text-wrap: wrap;
  }

  h3 {
    font-size: 1.2em;
    text-wrap: wrap;
  }

  p {
    font-size: 1em;
  }

  .container {
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0 40px;
  }

  .counter {
    font-size: 2em;
  }

  .image-counters p {
    font-size: 1.2em;
    text-wrap: wrap;
  }

  .team-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-bottom: 20px;
  }

  .team-member {
    padding: 15px;
  }
}